body {
    background-color: #b11212;
    color: white;
    font-family: "Bai Jamjuree", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1000px;
    margin: 1000;
}

button {
    background-color: #090c05;
    color: white;
    font-family: "Bai Jamjuree", sans-serif;
}

.passo {
    display: none;
}

.passo.ativo {
    display:block;
}

main {
    text-align: center;
    max-width: 80%;
}

img {
    max-width: 70%;
}